{% extends "layout.twig" %}
{% block body %}
    <div class="container p-4">
        <form action="/User/editUser">
            <div class="form-group row">
                <label for="uid" class="col-sm-2 col-form-label">UID</label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext" name="userId" value="{{ user._id }}">
                </div>
            </div>
            <div class="form-group row">
                <label for="username" class="col-sm-2 col-form-label">Uporabniško ime</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="username" value="{{ user.username }}">
                </div>
            </div>
            <div class="form-group row">
                <label for="name" class="col-sm-2 col-form-label">Ime</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="name" value="{{ user.name }}">
                </div>
            </div>
            <div class="form-group row">
                <label for="name" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control-plaintext" name="email" value="{{ user.email }}">
                </div>
            </div>
            <div class="form-group row">
                <label for="organisation" class="col-sm-2 col-form-label">Organizacija</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="organisation" value="{{ user.organisation }}">
                </div>
            </div>
            <button type="submit" class="btn btn-secondary">Shrani</button>
        </form>
    </div>

{% endblock %}